Link, a {
    text-decoration: none;
}

.card {
    width: 310px;
    height: 370px;
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0);
    background: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 30px 25px;
    cursor: pointer;
}

.card:hover{
    border: 1px solid white;
    box-shadow: 0 0 30px 30px rgba(252, 66, 255, 0.5);
}

.name {
    color: #000;
    font-size: 24px;
    font-weight: 500;
    line-height: 35px;
}

.image{
    width: 150px;
}

.title {
    color: #000;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
}