.root {
    margin: 0 auto;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 90px;
    align-items: center;
    height: 100px;
    box-shadow: 0px 5px 20px 0px #676666;
}

.blockLogo {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    cursor: pointer;
}

.title {
    width: 170px;
    color: #FFF;
    font-size: 32px;
    font-weight: 700;
    line-height: 35px;
}

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

.navTitle {
    color: #FFF;
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 5px;
    font-size: 24px;
    font-weight: 500;
    line-height: 35px;
    list-style: none;
    cursor: pointer;
    padding: 2px 5px;
}

.navTitle:hover {
    border: 1px solid white;
    box-shadow: 0 0 15px 10px rgba(252, 66, 255, 0.5);
}

.activeNavTitle {
    color: rgba(252, 66, 255);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 30px;
    cursor: pointer;
}

.footerText {
    color: #FFF;
    font-size: 20px;
    font-weight: 500;
    line-height: 35px;
}